<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <script src="{% static 'play.js' %}" type="module" defer></script>
    <title>Artificial Intelligence Tic Tac Toe</title>
</head>
<body>
    {% block content %}
    {% endblock %}
    <div class="credits">
        <h1>Created By Gus Gus</h1>
    </div>
    <style>
        .credits {
            position: absolute;
            margin: 1em;
            z-index: 100;
            top: 89vh;
        }
        .credits h1{
            color: #fff;
        }
    </style>
</body>
</html>